@model COMP2084___A1.Models.UserSelection

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home<img src="~/img/grey_logo.png" /></br></a>
    </div>
<h1>Create</h1>

<h4>User List</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User Identify</label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectName" class="control-label">Item</label>
                <input asp-for="ObjectName" class="form-control" />
                <span asp-validation-for="ObjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reuse" class="control-label"></label>
                <input asp-for="Reuse" class="form-control" />
                <span asp-validation-for="Reuse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reduce" class="control-label"></label>
                <input asp-for="Reduce" class="form-control" />
                <span asp-validation-for="Reduce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recycle" class="control-label"></label>
                <input asp-for="Recycle" class="form-control" />
                <span asp-validation-for="Recycle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecoscore" class="control-label">EcoScore</label>
                <input asp-for="Ecoscore" class="form-control" />
                <span asp-validation-for="Ecoscore" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="EcoscoreId" class="control-label"></label>
                <select asp-for="EcoscoreId" class ="form-control" asp-items="ViewBag.EcoscoreId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
