
@{ ViewData["Title"] = "About";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
 <div class="text-center">
    <img src="~/img/grey_logo.png" />
    <h1>Our Vision</h1>
 </div>  

<blockquote>
As we start to develop this website, we want to give users the oppurtunity to not only make informed choices; we want to give our users a place to upload their own projects
    and how they would want them to be displayed.
</blockquote>

<blockquoute>
    The idea is to eventually have an app that would allow you to scan the barcode of the item or use AI to determine what it could possibly be.
    You would then be given the following:

    <ul>

        <strong>Name</strong>

        <li>Description</li>
        <li>Material</li>
        <li>How to reuse:</li>
        <li>How to reduce:</li>
        <li>How to recycle:</li>
        <li>Disposal Method</li>
        <li>EcoScore</li>
    </ul>


    An EcoScore would give you a calculation of how efficient the item is. These include:
    <ol>
        <li>Ease of environmental disposal</li>
        <li>How it's produced</li>
        <li>If the item is safe to your health</li>
    </ol>
    <blockquote>
        The main objective is to give the user a 'snapshot' of the item's lifecycle. If a consumer was able to make a purchase based on these factors
        as well as many others... people can make better choices on how to recycle.
    </blockquote>
    