@{
    ViewData["Title"] = "Enter!";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to RePsychle!</h1>
        <p>This website was created behind the idea of being able to determine if the products you use are good for the environment or not!</p>
        <img src="~/img/shop-791582_1920.jpg" /> <!--https://pixabay.com/images/id-791582/-->

    </div>
